<div class="row">
  <div class="small-11 small-centered medium-11 medium-centered large-12 large-centered columns panel">

    <!-- For small and medium devices -->
    <div class="row hide-for-large-up">
      <div class="small-11 small-centered medium-11 medium-centered columns text-center">
        <h1>Welcome to Pet Finder Calgary</h1>
        <h2>sidfh  dfsh  fhsd huf sdhuf usdiof sudiof sdfhuoidsf dsufh dsufhusdifh udsfh usdfh usdfh sdhf sdfusdf</h2>
        <%= link_to 'Lost a Pet?', new_pet_path, class: 'button expand' %>
        <%= link_to 'Found a Pet?', new_pet_path, class: 'button expand' %>
      </div>
    </div>

    <!-- For large devices only -->
    <div class="row hide-for-small hide-for-medium">
      <div class="large-8 columns">
        <h1>Welcome to Pet Finder Calgary</h1>
        <h2>sidfh  dfsh  fhsd huf sdhuf usdiof sudiof sdfhuoidsf dsufh dsufhusdifh udsfh usdfh usdfh sdhf sdfusdf</h2>
      </div>
      <div class="large-4 columns text-center header-panel-buttons">
        <%= link_to 'Lost a Pet?', root_path, class: 'button expand' %>
          <%= link_to 'Found a Pet?', root_path, class: 'button expand' %>
      </div>
    </div>
  </div>
</div>

<!-- For small devices only -->

<div class="row hide-for-medium-up">
  <div class="small-11 small-centered columns panel small-data-panel">
    <a href="<%= pets_path %>">
      <%= image_tag 'DogData.png', class: 'DogData' %>
    </a>
      <h3>Dog Database</h3>
      <p>Search for all Lost or Found Dogs in the Calgary area.</p>
  </div>

  <div class="small-11 small-centered columns panel small-data-panel">
    <a href="<%= pets_path %>">
      <%= image_tag 'CatData.png', class: 'CatData' %>
    </a>
    <h3>Cat Database</h3>
    <p>Search for all Lost or Found Cats in the Calgary area.</p>
  </div>

  <div class="small-11 small-centered columns panel small-data-panel">
    <a href="<%= pets_path %>">
      <%= image_tag 'OtherData.png', class: 'OtherData' %>
    </a>
    <h3>Other Pets Database</h3>
    <p>Search for all other Lost or Found Pets in the Calgary area.</p>
  </div>
</div>

<div class="row step-by-step-style hide-for-medium-up">
  <div class="small-12 panel columns how-it-works-panel-small">
    <h2>What to do if you have lost a pet</h2>
    <div class="row">
      <div class="small-2 columns">
        <h3>1</h3>
      </div>
      <div class="small-10 columns">
        <p>Search for your pet in the <%= link_to 'Lost and Found Pets', new_pet_path %> database.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <h3>2</h3>
      </div>
      <div class="small-10 columns">
        <p>If your pet has not been reported as found fill out a <%= link_to 'Lost Pet Report', new_pet_path %>.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <h3>3</h3>
      </div>
      <div class="small-10 columns">
        <p>Upon <%= link_to 'registration', new_user_registration_path %> you may select to receive notifications alerting you when a pet has been found that matches your Lost Pet Profile.</p>
      </div>
    </div>

    <h2>What to do if you have found a pet</h2>
    <div class="row">
      <div class="small-2 columns">
        <h3>1</h3>
      </div>
      <div class="small-10 columns">
        <p>Search the <%= link_to 'Lost and Found Pets', new_pet_path %> database to see if the pet has been reported as lost.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <h3>2</h3>
      </div>
      <div class="small-10 columns">
        <p>If the pet has not been reported fill out a <%= link_to 'Found Pet Report', new_pet_path %>.</p>
      </div>
    </div>
  </div>
</div>

<!-- For medium and up devices -->
<div class="row hide-for-small med-data-panel">
  <div class="medium-11 medium-centered large-12 columns">
    <div class="small-4 columns panel database-panel">
      <a href="<%= pets_path %>">
        <%= image_tag 'DogData.png', class: 'DogData' %>
      </a>
      <h3>Dog Database</h3>
      <p>Search for all Lost or Found Dogs in the Calgary area.</p>
    </div>

    <div class="small-4 columns panel database-panel">
      <a href="<%= pets_path %>">
        <%= image_tag 'CatData.png', class: 'CatData' %>
      </a>
      <h3>Dog Database</h3>
      <p>Search for all Lost or Found Dogs in the Calgary area.</p>
    </div>

    <div class="small-4 columns panel database-panel">
      <a href="<%= pets_path %>">
        <%= image_tag 'OtherData.png', class: 'OtherData' %>
      </a>
      <h3>Dog Database</h3>
      <p>Search for all Lost or Found Dogs in the Calgary area.</p>
    </div>
  </div>
</div>


<div class="panel hide-for-small how-it-works-panel-medium-up">
  <div class="row">
    <div class="small-6 columns">
      <h2>What to do if you have lost a pet</h2>
    </div>
    <div class="small-6 columns">
      <h2>What to do if you have found a pet</h2>
    </div>
  </div>

  <div class="row">
    <div class="small-1 columns">
      <h3>1</h3>
    </div>
    <div class="small-5 columns">
      <p>Search for your pet in the <%= link_to 'Lost and Found Pets', new_pet_path %> database.</p>
    </div>
    <div class="small-1 columns">
      <h3>1</h3>
    </div>
    <div class="small-5 columns">
      <p>Search the <%= link_to 'Lost and Found Pets', new_pet_path %> database to see if the pet has been reported as lost.</p>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <h3>2</h3>
    </div>
    <div class="small-5 columns">
      <p>If your pet has not been reported as found fill out a <%= link_to 'Lost Pet Report', new_pet_path %>.</p>
    </div>
    <div class="small-1 columns">
      <h3>2</h3>
    </div>
    <div class="small-5 columns">
      <p>If the pet has not been reported fill out a <%= link_to 'Found Pet Report', new_pet_path %>.</p>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <h3>3</h3>
    </div>
    <div class="small-5 columns end">
      <p>Upon <%= link_to 'registration', new_user_registration_path %> you may select to receive notifications alerting you when a pet has been found that matches your Lost Pet Profile.</p>
    </div>
  </div>
</div>











   
